* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
}

.Parent {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.card {
  height: 400px;
  width: 300px;
  background-color: #fff; 
  border-radius: 30px;
  padding: 30px;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 30px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
}